@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

#container{
    font-family: Oswald;
    color: #333333;
    
}
header a{
    color: #333333;
    text-decoration: none;
    font-size: 18px;

}

header a:hover{
    font-size: 18px;
    color:#ffc139;
}
#logo{
    padding: 70px 0 0 0;
    overflow: hidden;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    height: 1px !important;
    display: flex;
    
}

#head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    
}
.box{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
    height: 100px;
}